{% extends 'base.html' %}

{% block body_class %}register{% endblock %}

{% block main %}
<main class="form">
  <form action="/register" method="post">
    <div class="title">Sign up</div>
    <div class="panel">
      <div class="item">
        <label>User</label>
        <input type="text" name="user">
      </div>
      <div class="item">
        <label>Password</label>
        <input type="password" name="password">
      </div>
      <div class="item">
        <label>Confirm Password</label>
        <input type="password" name="confirm">
      </div>
      <div class="item">
        <input class="register" type="submit" name="Register">
      </div>
    </div>
  </form>
</main>
{% endblock %}